{
    "openapi": "3.0.0",
    "info": {
        "title": "HubAI API",
        "description": "API REST do sistema HubAI. Endpoints protegidos exigem Bearer token via POST /api/login.",
        "contact": {
            "email": "suporte@hubai.io"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.hubai.io",
            "description": "Producao"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Autenticar usuario e obter Bearer token",
                "description": "Recebe email e senha, valida as credenciais e retorna um token Sanctum para uso nos demais endpoints protegidos. O token deve ser enviado no header Authorization: Bearer {token}.",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "E-mail cadastrado do lojista",
                                        "type": "string",
                                        "format": "email",
                                        "example": "lojista@hubai.io"
                                    },
                                    "password": {
                                        "description": "Senha do usuario",
                                        "type": "string",
                                        "format": "password",
                                        "example": "senha123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "description": "Token Sanctum para uso no header Authorization",
                                            "type": "string",
                                            "example": "1|abc123defghijklmnop"
                                        },
                                        "token_type": {
                                            "description": "Tipo do token",
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 42
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Joao Silva"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "lojista@hubai.io"
                                                },
                                                "role": {
                                                    "description": "Papel do usuario: admin, client, supplier",
                                                    "type": "string",
                                                    "example": "client"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Credenciais invalidas ou campos ausentes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Credenciais invalidas."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "Credenciais invalidas."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Revogar token atual do usuario autenticado",
                "description": "Invalida o token Sanctum enviado no header Authorization. Apos esse endpoint, o token nao pode mais ser usado para autenticar requisicoes.",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "Logout realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Token revogado com sucesso."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/oauth/bling/wl-relay": {
            "post": {
                "tags": [
                    "OAuth",
                    "Bling"
                ],
                "summary": "Receiver do relay Bling — recebe tokens trocados pelo api.hubai.io",
                "description": "Recebe POST HMAC-assinado de api.hubai.io com tokens Bling pos-OAuth. Valida assinatura, valida tenant local, salva em MarketplaceAccount. Endpoint exposto em TODAS as WLs (multdrop, fornecefy, hubai) com o mesmo controller — diferencia tenant via APP_TENANT no .env.",
                "operationId": "blingWlRelay",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tenant",
                                    "client_id",
                                    "access_token",
                                    "refresh_token",
                                    "expires_in"
                                ],
                                "properties": {
                                    "tenant": {
                                        "type": "string",
                                        "example": "multdrop"
                                    },
                                    "client_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "supplier_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "access_token": {
                                        "type": "string"
                                    },
                                    "refresh_token": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "integer",
                                        "example": 21600
                                    },
                                    "scope": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "account_name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "relayed_by": {
                                        "type": "string",
                                        "example": "api.hubai.io"
                                    },
                                    "user_email": {
                                        "type": "string",
                                        "example": "snapmixbrasil@gmail.com",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tokens salvos"
                    },
                    "401": {
                        "description": "Assinatura HMAC invalida"
                    },
                    "403": {
                        "description": "tenant payload nao bate com APP_TENANT (cross-tenant)"
                    },
                    "422": {
                        "description": "Campos faltando"
                    }
                }
            }
        },
        "/api/oauth/{platform}/redirect": {
            "get": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Inicia o fluxo OAuth para conexao com marketplace",
                "description": "Gera a URL de autorizacao da plataforma e redireciona o usuario. Suporta MercadoLivre (PKCE S256), Bling e Shopee. Nao requer autenticacao Sanctum — o client_id e passado via query param para permitir iniciacao pelo frontend hubai.io. O state PKCE e armazenado na URL de callback para validacao. Antes do redirect, cria automaticamente um registro MarketplaceAccount com status=pending (firstOrCreate), garantindo que o vendedor veja \"Aguardando conexao\" imediatamente, tanto pelo fluxo Filament quanto pela API REST. O registro e atualizado para status=active no callback apos troca bem-sucedida de tokens.",
                "operationId": "oauthRedirect",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "Plataforma de destino",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "mercadolivre",
                                "bling",
                                "shopee",
                                "shopify"
                            ]
                        },
                        "example": "mercadolivre"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "ID do cliente HubAI ou goolhub user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 267076
                    },
                    {
                        "name": "supplier_id",
                        "in": "query",
                        "description": "ID do fornecedor associado (default 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "account_name",
                        "in": "query",
                        "description": "Nome amigavel para a conta conectada",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Minha Loja ML"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect para URL de autorizacao da plataforma"
                    },
                    "400": {
                        "description": "Plataforma nao suportada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Plataforma nao suportada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "client_id ausente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "client_id required"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth/{platform}/callback": {
            "get": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Callback OAuth apos autorizacao na plataforma",
                "description": "Recebe o authorization code e o state PKCE retornados pela plataforma. Troca o code por tokens reais, busca o perfil do vendedor, cria ou atualiza a MarketplaceAccount (atualizando o registro pending criado em /redirect para status=active) e redireciona o usuario para o painel hubai.io. Em caso de erro, redireciona com query param ?error=.",
                "operationId": "oauthCallback",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "Plataforma que retornou o callback",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "mercadolivre",
                                "bling",
                                "shopee",
                                "shopify"
                            ]
                        },
                        "example": "mercadolivre"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Authorization code retornado pela plataforma",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "TG-abc123def456"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "State PKCE Base64 gerado em /redirect",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "eyJjbGllbnRfaWQiOjEsInBsYXRmb3JtIjoibWVyY2Fkb2xpdnJlIn0="
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect para hubai.io/painel-cliente/integracoes?connected={platform} em caso de sucesso ou ?error= em caso de falha"
                    }
                }
            }
        },
        "/api/health": {
            "get": {
                "tags": [
                    "Publico"
                ],
                "summary": "Health check da API",
                "description": "Retorna status simples indicando que a API esta operacional. Nao requer autenticacao.",
                "operationId": "healthCheck",
                "responses": {
                    "200": {
                        "description": "API operacional",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "HubAI API is up and running"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/admin/clients": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Listar clientes",
                "description": "Lista todos os clientes com paginacao e filtros. Restrito a super_admin.",
                "operationId": "f640a69b43b9cd23d7efdc67fa17f40a",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca por nome da empresa ou email do usuario",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "loja"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por status do cliente",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "active",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    },
                    {
                        "name": "plan",
                        "in": "query",
                        "description": "Filtrar por slug ou ID do plano da assinatura ativa",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "start"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagina atual",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1,
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de clientes paginada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "company_name": {
                                                        "type": "string",
                                                        "example": "Loja Exemplo LTDA"
                                                    },
                                                    "document": {
                                                        "type": "string",
                                                        "example": "12345678000190",
                                                        "nullable": true
                                                    },
                                                    "user": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Joao Silva"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "joao@loja.com"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "subscriptions_count": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "marketplace_accounts_count": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2026-01-15T10:30:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 120
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/clients/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Detalhes do cliente",
                "description": "Retorna detalhes completos de um cliente, incluindo assinaturas, contas de marketplace e contagem de pedidos recentes. Restrito a super_admin.",
                "operationId": "9d2d14a6ccffbdfac9349db6be7cae8e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do cliente",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes do cliente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "company_name": {
                                            "type": "string",
                                            "example": "Loja Exemplo LTDA"
                                        },
                                        "document": {
                                            "type": "string",
                                            "example": "12345678000190",
                                            "nullable": true
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "11999990000",
                                            "nullable": true
                                        },
                                        "listing_mode": {
                                            "type": "string",
                                            "example": "dropshipping",
                                            "nullable": true
                                        },
                                        "is_active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Joao Silva"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "joao@loja.com"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "subscriptions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "marketplace_accounts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "recent_orders_count": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2026-01-15T10:30:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    },
                    "404": {
                        "description": "Cliente nao encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Atualizar cliente",
                "description": "Atualiza dados do cliente. Permite alterar company_name, document, phone, is_active e listing_mode. Restrito a super_admin.",
                "operationId": "9864675d6ed4abcd69a534b6bf536f1f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do cliente",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "Nova Razao Social LTDA",
                                        "nullable": true
                                    },
                                    "document": {
                                        "type": "string",
                                        "example": "12345678000190",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "11999990000",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    },
                                    "listing_mode": {
                                        "type": "string",
                                        "example": "dropshipping",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cliente atualizado com sucesso."
                                        },
                                        "client": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    },
                    "404": {
                        "description": "Cliente nao encontrado"
                    },
                    "422": {
                        "description": "Dados invalidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/dashboard": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "KPIs do dashboard administrativo",
                "description": "Retorna metricas agregadas do sistema: total de clientes, produtos, pedidos, fornecedores e receita. Restrito a super_admin.",
                "operationId": "7e05cf19d18c7f875d448db105c91054",
                "responses": {
                    "200": {
                        "description": "KPIs agregados do sistema",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_clients": {
                                            "type": "integer",
                                            "example": 350
                                        },
                                        "active_clients": {
                                            "type": "integer",
                                            "example": 280
                                        },
                                        "total_products": {
                                            "type": "integer",
                                            "example": 45000
                                        },
                                        "total_orders": {
                                            "type": "integer",
                                            "example": 12000
                                        },
                                        "total_suppliers": {
                                            "type": "integer",
                                            "example": 18
                                        },
                                        "total_revenue": {
                                            "description": "Soma de orders.total onde status=paid",
                                            "type": "number",
                                            "format": "float",
                                            "example": 2850000.5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/suppliers": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Criar fornecedor",
                "description": "Cria um novo fornecedor. Restrito a super_admin.",
                "operationId": "c2b51e94cb3984a7ef8afb1a38164d85",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_name",
                                    "type"
                                ],
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "Fornecedor ABC LTDA"
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "warehouse",
                                        "enum": [
                                            "producer",
                                            "warehouse"
                                        ]
                                    },
                                    "document": {
                                        "type": "string",
                                        "example": "12345678000190",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "11999990000",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Rua Exemplo, 123",
                                        "nullable": true
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Sao Paulo",
                                        "nullable": true
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "SP",
                                        "nullable": true
                                    },
                                    "zipcode": {
                                        "type": "string",
                                        "example": "01310100",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Especialista em eletronicos",
                                        "nullable": true
                                    },
                                    "pix_fee": {
                                        "type": "number",
                                        "example": 1.5,
                                        "nullable": true
                                    },
                                    "allows_direct_payment": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    },
                                    "is_factory": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Fornecedor criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Fornecedor criado com sucesso."
                                        },
                                        "supplier": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    },
                    "422": {
                        "description": "Dados invalidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/suppliers/{id}": {
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Atualizar fornecedor",
                "description": "Atualiza dados de um fornecedor existente. Restrito a super_admin.",
                "operationId": "b3313b3cae52d8a7edceb504482b9a07",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do fornecedor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "Fornecedor ABC LTDA",
                                        "nullable": true
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "warehouse",
                                        "nullable": true,
                                        "enum": [
                                            "producer",
                                            "warehouse"
                                        ]
                                    },
                                    "document": {
                                        "type": "string",
                                        "example": "12345678000190",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "11999990000",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Rua Exemplo, 123",
                                        "nullable": true
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Sao Paulo",
                                        "nullable": true
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "SP",
                                        "nullable": true
                                    },
                                    "zipcode": {
                                        "type": "string",
                                        "example": "01310100",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Especialista em eletronicos",
                                        "nullable": true
                                    },
                                    "pix_fee": {
                                        "type": "number",
                                        "example": 1.5,
                                        "nullable": true
                                    },
                                    "allows_direct_payment": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    },
                                    "is_factory": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Fornecedor atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Fornecedor atualizado com sucesso."
                                        },
                                        "supplier": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    },
                    "404": {
                        "description": "Fornecedor nao encontrado"
                    },
                    "422": {
                        "description": "Dados invalidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "Desativar fornecedor (soft-delete)",
                "description": "Desativa um fornecedor setando is_active=false. Nao exclui os dados. Restrito a super_admin.",
                "operationId": "79e86b9e311f99227c22ea53cd4788a8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do fornecedor",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fornecedor desativado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Fornecedor desativado com sucesso."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    },
                    "404": {
                        "description": "Fornecedor nao encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/sync-status": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Status do sync com o catalogo legado",
                "description": "Retorna informacoes sobre o ultimo sync realizado com o banco legado. Restrito a super_admin.",
                "operationId": "b3542697152600c5a4a546fc929f315a",
                "responses": {
                    "200": {
                        "description": "Status do sync",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "last_sync_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2026-05-12T08:00:00Z",
                                            "nullable": true
                                        },
                                        "total_synced_products": {
                                            "type": "integer",
                                            "example": 45000
                                        },
                                        "total_synced_suppliers": {
                                            "type": "integer",
                                            "example": 18
                                        },
                                        "next_sync_estimated": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2026-05-12T09:00:00Z",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/sync/force": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Forcar re-sync do catalogo legado",
                "description": "Dispara o job SyncLegacyCatalogJob imediatamente. Use com cuidado — o job consome conexao com o banco legado. Restrito a super_admin.",
                "operationId": "4cafd6bbe524aeff44c5f4fa42de1e4e",
                "responses": {
                    "202": {
                        "description": "Job de sync enfileirado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Sync enfileirado. O processo sera executado em breve."
                                        },
                                        "dispatched_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2026-05-12T09:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Acesso negado — requer super_admin"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/client/discount-info": {
            "get": {
                "tags": [
                    "Descontos"
                ],
                "summary": "Informacoes do desconto gradual do lojista",
                "description": "Retorna o desconto atual do lojista, quantas vendas ja realizou, se o ramp de reducao ja iniciou e estimativa de dias ate zerar.",
                "operationId": "8bd5e96184d6d86bb8ef40ec1f94886f",
                "responses": {
                    "200": {
                        "description": "Dados de desconto do lojista",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_discount_percent": {
                                            "description": "Percentual de desconto atual (0-50)",
                                            "type": "integer",
                                            "example": 50
                                        },
                                        "sales_count": {
                                            "description": "Quantas vendas ja realizou com desconto ativo",
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "ramp_started": {
                                            "description": "Se o ramp de reducao ja iniciou",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "ramp_start_date": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "days_until_zero": {
                                            "description": "Quantos dias faltam para o desconto zerar (null se ramp nao iniciou)",
                                            "type": "integer",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Nao autenticado"
                    },
                    "403": {
                        "description": "Usuario sem perfil de lojista"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/event-subscriptions": {
            "get": {
                "tags": [
                    "Configuracoes"
                ],
                "summary": "Listar inscricoes em eventos do usuario autenticado",
                "description": "Retorna as inscricoes em eventos configuradas para o usuario autenticado. Cada inscricao define um tipo de evento (ex: order.paid, stock.low) e os canais de notificacao (webhook, email, push).",
                "operationId": "36ada4eb9094970ebc2a0a56389f1a3b",
                "responses": {
                    "200": {
                        "description": "Lista de inscricoes em eventos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "event_type": {
                                                        "type": "string",
                                                        "example": "order.paid"
                                                    },
                                                    "channels": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "example": [
                                                            "webhook",
                                                            "email"
                                                        ]
                                                    },
                                                    "webhook_url": {
                                                        "type": "string",
                                                        "example": "https://meu-sistema.com/hooks/orders",
                                                        "nullable": true
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "supplier_id": {
                                                        "type": "integer",
                                                        "example": 3,
                                                        "nullable": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Nao autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Configuracoes"
                ],
                "summary": "Inscrever-se em um tipo de evento",
                "description": "Cria uma inscricao para receber notificacoes quando um determinado evento ocorrer. Use event_type=\"*\" para receber todos os eventos. Canais disponiveis: webhook, email, push.",
                "operationId": "a4686190a7fa1329b241d74eb72e59d1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "event_type",
                                    "channels"
                                ],
                                "properties": {
                                    "event_type": {
                                        "description": "Tipo do evento. Use \"*\" para todos os eventos.",
                                        "type": "string",
                                        "example": "order.paid"
                                    },
                                    "channels": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "webhook",
                                                "email",
                                                "push"
                                            ]
                                        },
                                        "example": [
                                            "webhook"
                                        ]
                                    },
                                    "webhook_url": {
                                        "type": "string",
                                        "example": "https://meu-sistema.com/hooks/orders",
                                        "nullable": true
                                    },
                                    "webhook_secret": {
                                        "type": "string",
                                        "example": "meu-segredo-hmac",
                                        "nullable": true
                                    },
                                    "supplier_id": {
                                        "description": "Limitar inscricao a eventos de um fornecedor especifico",
                                        "type": "integer",
                                        "example": 3,
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inscricao criada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Inscricao criada com sucesso."
                                        },
                                        "id": {
                                            "type": "integer",
                                            "example": 8
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Nao autenticado"
                    },
                    "422": {
                        "description": "Dados invalidos"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/financial/balance": {
            "get": {
                "tags": [
                    "Financeiro"
                ],
                "summary": "Saldo financeiro do lojista agrupado por fornecedor",
                "description": "Retorna o saldo disponivel do lojista em cada fornecedor (carteira HubAI). O saldo representa o valor pre-pago depositado pelo lojista para compra de produtos. Tambem retorna o saldo total somado de todos os fornecedores. Um saldo negativo indica divida pendente.",
                "operationId": "a9a6f10a69dbb982a5fb6a0120aba2c9",
                "responses": {
                    "200": {
                        "description": "Saldos por fornecedor e total consolidado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "description": "Saldo por fornecedor",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "supplier_id": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "supplier_name": {
                                                        "type": "string",
                                                        "example": "XPTO"
                                                    },
                                                    "balance": {
                                                        "type": "number",
                                                        "example": 1250
                                                    },
                                                    "balance_formatted": {
                                                        "type": "string",
                                                        "example": "R$ 1.250,00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total_balance": {
                                                    "type": "number",
                                                    "example": 3750.5
                                                },
                                                "total_balance_formatted": {
                                                    "type": "string",
                                                    "example": "R$ 3.750,50"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Usuario nao possui perfil de lojista"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/financial/transactions": {
            "get": {
                "tags": [
                    "Financeiro"
                ],
                "summary": "Extrato de transacoes financeiras do lojista",
                "description": "Retorna o historico paginado de transacoes financeiras do lojista (creditos e debitos) em cada fornecedor.",
                "operationId": "4316946ab93be7cfdb463aca4dcba02e",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "supplier_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "credit",
                                "debit"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Extrato paginado de transacoes financeiras",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 8001
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "debit",
                                                        "enum": [
                                                            "credit",
                                                            "debit"
                                                        ]
                                                    },
                                                    "amount": {
                                                        "type": "number",
                                                        "example": 179.9
                                                    },
                                                    "amount_formatted": {
                                                        "type": "string",
                                                        "example": "R$ 179,90"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Debito por pedido #500",
                                                        "nullable": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 87
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 6
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token ausente ou invalido"
                    },
                    "403": {
                        "description": "Usuario nao possui perfil de lojista"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/orders/manual/preview": {
            "post": {
                "tags": [
                    "Pedidos Manuais"
                ],
                "summary": "Preview de pedido manual (dry-run)",
                "description": "Calcula o total de um pedido manual com base nos itens e verifica o saldo disponivel na carteira do lojista para o fornecedor selecionado. Nenhum pedido e criado.",
                "operationId": "8724aa4a62100537651288b179b54b06",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "supplier_id",
                                    "items"
                                ],
                                "properties": {
                                    "supplier_id": {
                                        "description": "ID do fornecedor",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "client_product_id",
                                                "qty"
                                            ],
                                            "properties": {
                                                "client_product_id": {
                                                    "type": "integer",
                                                    "example": 42
                                                },
                                                "qty": {
                                                    "type": "integer",
                                                    "example": 2,
                                                    "minimum": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Preview calculado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "sku": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "qty": {
                                                        "type": "integer"
                                                    },
                                                    "unit_cost": {
                                                        "type": "number",
                                                        "format": "float"
                                                    },
                                                    "subtotal": {
                                                        "type": "number",
                                                        "format": "float"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "total": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 16.74
                                        },
                                        "wallet_balance": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 150
                                        },
                                        "sufficient_balance": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Saldo suficiente para este pedido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Produto nao pertence ao cliente ou plano insuficiente"
                    },
                    "422": {
                        "description": "Validacao falhou ou custo nao definido"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/orders/manual": {
            "post": {
                "tags": [
                    "Pedidos Manuais"
                ],
                "summary": "Criar pedido manual",
                "description": "Cria um pedido manual no sistema, inserindo diretamente no legado via canal=13. Use este endpoint para registrar vendas realizadas fora dos marketplaces integrados (Instagram, WhatsApp, site proprio, feiras, etc). O saldo da carteira do lojista e verificado antes da criacao; se insuficiente, o pedido e bloqueado. O legado processa o debito automaticamente ao processar o pedido.",
                "operationId": "b1ae36c4344c5f1cd6bc5f345ca684a2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "supplier_id",
                                    "items",
                                    "buyer_name",
                                    "buyer_doc",
                                    "address"
                                ],
                                "properties": {
                                    "supplier_id": {
                                        "description": "ID do fornecedor (deve ter integracao ativa com o lojista no legado)",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "items": {
                                        "description": "Lista de itens do pedido",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "client_product_id",
                                                "qty"
                                            ],
                                            "properties": {
                                                "client_product_id": {
                                                    "description": "ID do produto na tabela client_products",
                                                    "type": "integer",
                                                    "example": 42
                                                },
                                                "qty": {
                                                    "description": "Quantidade",
                                                    "type": "integer",
                                                    "example": 2,
                                                    "minimum": 1
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "buyer_name": {
                                        "description": "Nome completo do comprador",
                                        "type": "string",
                                        "example": "Joao Silva",
                                        "maxLength": 100
                                    },
                                    "buyer_doc": {
                                        "description": "CPF ou CNPJ do comprador (aceita formatado ou apenas digitos)",
                                        "type": "string",
                                        "example": "123.456.789-00",
                                        "maxLength": 100
                                    },
                                    "buyer_phone": {
                                        "description": "Telefone do comprador (opcional)",
                                        "type": "string",
                                        "example": "11999999999",
                                        "nullable": true,
                                        "maxLength": 20
                                    },
                                    "buyer_email": {
                                        "description": "E-mail do comprador (opcional)",
                                        "type": "string",
                                        "format": "email",
                                        "example": "joao@email.com",
                                        "nullable": true,
                                        "maxLength": 100
                                    },
                                    "address": {
                                        "required": [
                                            "street",
                                            "number",
                                            "neighborhood",
                                            "city",
                                            "state",
                                            "cep"
                                        ],
                                        "properties": {
                                            "street": {
                                                "type": "string",
                                                "example": "Rua das Flores"
                                            },
                                            "number": {
                                                "type": "string",
                                                "example": "123"
                                            },
                                            "complement": {
                                                "type": "string",
                                                "example": "Apto 45",
                                                "nullable": true
                                            },
                                            "neighborhood": {
                                                "type": "string",
                                                "example": "Centro"
                                            },
                                            "city": {
                                                "type": "string",
                                                "example": "Sao Paulo"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "SP",
                                                "maxLength": 2,
                                                "minLength": 2
                                            },
                                            "cep": {
                                                "type": "string",
                                                "example": "01310-100"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "channel_name": {
                                        "description": "Canal de origem da venda (Instagram, WhatsApp, Site, Feira, etc)",
                                        "type": "string",
                                        "example": "Instagram",
                                        "nullable": true,
                                        "maxLength": 100
                                    },
                                    "delivery_type": {
                                        "description": "Tipo de entrega",
                                        "type": "string",
                                        "example": "sedex",
                                        "nullable": true,
                                        "enum": [
                                            "correios",
                                            "transportadora",
                                            "retirada",
                                            "motoboy",
                                            "sedex",
                                            "pac"
                                        ]
                                    },
                                    "notes": {
                                        "description": "Observacoes internas do pedido",
                                        "type": "string",
                                        "example": "Cliente pediu embalagem presenteavel",
                                        "nullable": true,
                                        "maxLength": 500
                                    },
                                    "marketplace": {
                                        "description": "Identificador do marketplace de origem (legado)",
                                        "type": "string",
                                        "example": "instagram",
                                        "nullable": true
                                    },
                                    "reason": {
                                        "description": "Motivo/descricao interna do pedido manual",
                                        "type": "string",
                                        "example": "Venda direta via DM",
                                        "nullable": true,
                                        "maxLength": 255
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pedido criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order_id": {
                                            "description": "ID do pedido no HubAI (novo sistema)",
                                            "type": "integer",
                                            "example": 123
                                        },
                                        "legacy_id": {
                                            "description": "ID do pedido na tabela pedidos do legado",
                                            "type": "integer",
                                            "example": 4567
                                        },
                                        "supplier_total": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 16.74
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Pedido criado no legado. Pagamento sera processado automaticamente."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Plano insuficiente (requer Pro ou superior) ou produto nao pertence ao lojista",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "requires_pro"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Falha de validacao, produto sem custo, integracao nao encontrada, saldo insuficiente ou cliente/fornecedor nao vinculado ao legado",
                        "content": {
[...]
